/* Global Styles */

:root {
  font-size: 20px;
}

body {
max-width: 20em;
margin: .5em auto;
border: 1px solid #000;
letter-spacing: -0.04em;
padding: 1em;
}

h1 {
  letter-spacing: -0.04em;
  font-size: 5em;
  font-weight: 100;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: .5em 0;
  overflow-wrap: break-word;
}

small {
  letter-spacing: -.03em;
font-style: italic;
}

a {
  color: inherit;

}

/* Image Styles */
img {
  width: 100%;
}
