:root {
  font-size: 16px;
}

body {
  max-width: 30rem;
  margin: 0 auto;
  max-width: 30rem;
margin: 0 auto;
border: 1px solid;
padding: 1rem;
}

h1, h2 {
  font-size: 600%;
  font-style: normal;
  font-weight: 200;
  letter-spacing: -0.043em;
  border-top: 1px solid;
  margin-top: 0;
margin-bottom: 0;
padding-top: 1rem;
padding-bottom: 1rem;
text-align: center;
}

a {
  background-color: red;
color: inherit;
border-radius: 1rem;
text-decoration: none;
}

hr {
  display: none;
}

img {
  width: 100%;
}

span {
  background-color: red;
border-radius: 1rem;
margin-top: -6rem;
position: absolute;
margin-left: 15%;
transform: rotate(-30deg);
}
