/* Global Styles */
:root {
  color: red;
  cursor: crosshair;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  padding: 0;
}

::selection {
  color: white;
  background: red;
}

body {
  display: grid;
  grid-template-columns: minmax(min-content, 30%) 1fr;
  overflow: hidden;
  height: 100vh;
}

header {
  padding: 0 1em 2em 1em;
  border-right: 1px solid red;
}

main {
  overflow-y: scroll;
}

/* Links */
nav {
  bottom: 1em;
  position: fixed;
}

nav a, section a {
  color: red;
  font-weight: bold;
}

a:focus, a:hover {
  cursor: zoom-in;
}

/* Headings */
h1 {
  margin-bottom: 0;
}

h2 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.1em;
  mmargin-top: .25em;
}

h3 {
  margin: 0;
  font-style: italic;
text-decoration: underline;
}

h4 {
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
  margin-top: .25em;
}

/* Body Text */
section {
  border-bottom: 1px solid red;
  padding: 1.5em;
}

section:last-of-type {
  border-bottom: 0;
}

p {
  line-height: 150%;
}

/* Images */
figure {
  float: left;
  width: 15em;
  max-width: 100%;
  margin-left: 0;
}

figure::after {
  clear: both;
}

img {
  width: 100%;
  opacity: .5;
  transition-timing-function: ease-out;
  transition: 0.5s;
}

img:hover, img:focus {
  opacity: 1;
  transition-timing-function: ease-in;
  transition: 0.5s;
}

figcaption {
  font-style: italic;
  font-size: .8em;
}

/* Footer */
footer {
  position: sticky;
  bottom: 3em;
  text-align: right;
  padding-right: 1em;
}

.button {
  background-color: red;
  color: white;
  font-size: 200%;
  padding: 2rem;
  border: 0;
  border-radius: 100%;
}

.button:focus, .button:hover {
  cursor: zoom-in;
  text-decoration: underline;
}

/* Breakpoint */
@media (max-width: 788px) {
  body {
    grid-template-columns: 1fr;
  }

  header {
    border-right: 0;
    border-bottom: 1px solid red;
  }

  nav {
    position: inherit;
  }
}
