/* Global Styles */
:root {
  --primary-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  padding: 0;
}

::selection {
  color: darkgreen;
  background: greenyellow;
}

/* Primary Grid */
body {
  display: grid;
  grid-template-columns: minmax(min-content, 30%) 1fr;
  overflow: hidden;
  height: 100vh;
}

header {
  padding: 0 1em 2em 1em;
  border-right: 1px solid var(--primary-color);
}

main {
  overflow-y: scroll;
  display: grid;
  grid-template-columns: minmax(min-content, 30%) 1fr;
}

/* Nav Links */
nav {
  bottom: 1em;
  position: fixed;
}

nav a, section a {
  color: inherit;
  font-weight: bold;
}

/* Headings */
h1 {
  margin-bottom: 0;
}

h2 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.1em;
  mmargin-top: .25em;
}

h3 {
  margin: 0;
  font-style: italic;
  text-decoration: underline;
}

h4 {
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
  margin-top: .25em;
}

/* Body Text */
section {
  padding: 1.5em;
}

section+section {
  /* border-top: 1px solid var(--primary-color); */
}

p {
  line-height: 150%;
}

/* Images */
img {
  width: 100%;
}

figure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

figure img:first-of-type {
  grid-column: 1 / 5;
}

figcaption {
  font-style: italic;
  font-size: .8em;
}

/* Breakpoint */

@media (max-width: 1300px) {
  figure {
    grid-template-columns: 1fr 1fr;
  }
  /* Fix the rows */
}

@media (max-width: 788px) {
  body, main {
    grid-template-columns: 1fr;
  }

  header {
    border-right: 0;
    border-bottom: 1px solid var(--primary-color);
  }

  nav {
    position: inherit;
  }

  figure {
    grid-template-columns: 1fr;
  }
}
